.settings-content {
  --background: var(--ion-background-color);
}

.setting-item-header {
  margin-top: 24px;
}

.setting-item-header:first-child {
  margin-top: 0;
}

.settings-actions {
  padding: 24px 16px;
}

ion-range {
  padding: 8px 0;
}
